body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex: auto;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
  background-color: black;
  font-size: 18px;
}

#side-bar{
  width: min(35%, 600px);
  background-image: url('./images/kentaro-toma-oUKmEpt6tx0-unsplash.jpg');
  background-size: 100% 100%;
  background-color: #475A9B;
}

#content {
  font-family: 'Silkscreen', sans-serif, cursive;
  width: min(55%, 1000px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  gap: 30px;
  background-color: #F6F9FD;
  overflow: auto;
  
}

#text-content{
  width: 50vw;
}

.text {
  padding:0 0 15px;
  width: min(90%, 700px);
}

#form {
  background-color: rgb(255, 255, 255);
  margin: 0 -40px;
  padding: 20px 40px;
  box-shadow: 0px 4px 3px #818791;
  color:#46474b;
}

.form-input {
  display: flex;
  flex-flow: row wrap;
  gap: 30px 50px;
  padding-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  width: max(35%, 225px);
}

.label {
  width: fit-content;
}

#button {
  width: fit-content;
  padding: 0.5em 3em;
  background-color: #475A9B;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: inherit;
  margin-bottom: 15px;
}

.logo {
  background-color: #46474b;
  color: #FFFFFF;
  opacity: 0.8;
  position: absolute;
  top: 20vh;
  height: 125px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: 'Londrina Solid', sans-serif, cursive;
}

.credits {
  position: relative;
  top: 95vh;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

.link {
  color: #FFFFFF;
}

.input input:focus {
  border: 1px solid #4287ee;
  box-shadow: 1px 1px 1px #818791;
  border-radius: 3px;
  outline: none;
  padding: 2.6px 4.6px;
}

#form .input input:invalid {
  border: 1px solid red;
  box-shadow: 1px 1px 1px #818791;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 2.6px 4.6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 12px white inset !important;
    box-shadow: none;
    border-radius: 2px;
    outline: none;
    border: 1.75px solid #424242;
}